@{
     ViewBag.Title = "_Navigation";
}
<nav class="navbar navbar-expand-lg fixed-top">
     <div class="container">

          <a class="navbar-brand" href="@Url.Action("Index","Home")">MyGym Fitness</a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                         <a class="navbar-brand" href="@Url.Action("Index","Home")">Home </a> 
                    </li>
                    
                    <li class="nav-item">
                         <a class="navbar-brand" href="@Url.Action("Index","Subscription")">Subscriptions </a>

                    </li>

                    <li class="nav-item">
                         <a class="navbar-brand" href="@Url.Action("Index","Schedule")">Schedule </a>

                    </li>
                    
                    <li class ="nav-item">
                         @if ((string)System.Web.HttpContext.Current.Session["LoginStatus"] == "login")
                         {
                              <a class="navbar-brand" href=""> @ViewBag.Username  </a>
                              <a class="navbar-brand" href="@Url.Action("Index","Logout")">Log Out</a>
                         }
                         else
                         {
                              <li class="nav-item">
                                   <a class="navbar-brand" href="@Url.Action("Index","SignUp")"> Sign Up</a>
                              </li>
                              <li class="nav-item">
                                   <a class="navbar-brand" href="@Url.Action("Index","Login")">Log In </a>
                              </li>
                         }
                    </li>
               </ul>
          </div>

     </div>
</nav>    