@model IEnumerable<eUseControl.Web.Models.Subscription>

@{
    ViewBag.Title = "Index";
}

<section class="subscription" id="subscription" data-aos="fade" style="padding-top: 100px; ">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8  section-heading">
                <span class="subheading">Fitness Class</span>
                <h2 class="heading mb-3">Our Classes</h2>
                <p>
                    Join out special Training Program
                </p>
            </div>
        </div>
    </div>

          @if (@ViewBag.UserLevel == "Admin")
          {
               <p class="text-center">
                    <a href='@Url.Action("Create","Subscription")' class="btn btn-outline-black py-3 px-5">Create New Subscription</a>
               </p>

          }
    <div class="owl-carousel nonloop-block-14 block-14">
        @foreach (var item in Model)
        {
            <div class="ftco-feature-1">
                <div class="class-item-text">
                    <img src="@item.ImageUrl" class="img-fluidz" alt="Class">
                    <h2><a>@Html.DisplayFor(modelItem => item.Name)</a></h2>
                    <span class="class-price">$ @Html.DisplayFor(modelItem => item.PricePerMonth)</span>
                    <a href="@Url.Action("Details", "Subscription", new { id = item.Id })" class="btn custom-btn bg-color mt-3" data-aos-delay="300"><center>Details</center></a>
                </div>
            </div>
        }
    </div>
     
</section>
